{% extends 'articles/base.html' %} {% load widget_tweaks %} {% block content %}
<h2 class="m-2 border-bottom">投稿を編集</h2>
<form class="m-3" action="{% url 'articles:article_edit_confirm' article_id %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="titleForm" class="form-label">{{ form.title.label }}</label>
        {{ form.title | add_class:'form-control' }}
    </div>
    <div class="mb-3">
        <label for="bodyForm" class="form-label">{{ form.content.article_body }}</label>
        {{ form.article_body | add_class:'form-control' }}
    </div>
    <input class="btn btn-success" type="submit" name="confirm" value="投稿編集内容確認">
</form>
{% endblock %}