{% extends 'articles/base.html' %} {% block content %}
<h2 class="m-2 border-bottom">編集内容確認</h2>
<p class="m-3">以下の内容に更新します</p>
<div class="mx-3 card">
    <div class="card-body">
        <h3 class="card-title">{{ form.title.value }}</h3>
        <p class="card-text">{{ form.article_body.value }}</p>
        <small class="card-text text-body-secondary text-muted">文字数： {{ form.article_body.value | length }}</small>
    </div>
</div>
<form method="post" action="{% url 'articles:article_edit_confirm' article_id %}" class="m-3">
    {% csrf_token %}
    {% for field in form %} {{ field.as_hidden }} {% endfor %}
    <input class="btn btn-success" type="submit" name="create" value="更新">
    <input class="btn btn-warning" type="submit" name="back" value="戻る">
</form>
{% endblock %}