{% extends 'articles/base.html' %} {% block content %}

<h2 class="m-2 border-bottom">記事一覧</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">タイトル</th>
            <th scope="col">本文</th>
            <th scope="col">作成日時</th>
            <th scope="col">最終更新日時</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      {% for article in articles_list %}
      <tr>
          <td>
              <div class="overflow-hidden" style="height: 70px; max-width: 300px;">{{ article.title }}</div>
          </td>
          <td>
              <div class="overflow-hidden" style="height: 70px; max-width: 300px;">{{ article.article_body }}</div>
          </td>
          <td>
              {{ article.created_at }}
          </td>
          <td>
              {{ article.updated_at }}
          </td>
          <td>
              <a class="btn btn-primary" href="{% url 'articles:article_detail' article.pk %}">詳細</a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}